/* .Container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
} */
.Container{
  background-color:rgb(238, 237, 237) ;
}
section{
 min-height: 100vh;
 scroll-snap-align: start;
}
/* .Home_section{
  background-color:rgb(221, 221, 221) ;
}
.Introduction_section{
  background-color: rgb(232, 232, 232) ;
}
.Project_section{
  background-color: #201E20 ;
}
.Resume_section{
  background-color: #E0A96D ;
}
.Contact_section{
  background-color:#EE4E34 ;
} */